# PostgreSQL ajustar el usuario, password, host, puerto y nombre de DB
DATABASE_URL="postgresql://postgres:TU_PASSWORD@localhost:5432/geoasistencia_db?schema=public"

# JWT
JWT_SECRET="colocar una contrasena larga"
JWT_EXPIRES_IN="8h"

# Server
PORT=4000
CORS_ORIGIN="http://localhost:5173"
